body{
    background-color: #F3F5FC;
}

#todo{
    display: flex;
    justify-content: center;
}

#logo{
    height: 35px;
    width: 90px;
    margin-top: 20px;
    margin-left: -115px;
}

#notas{
    margin-top: 0px;
    margin-bottom: 15px;
}

#notaimg{
    height: 16px;
    width: 16px;
}

#notad{
    color: #495057;
    font-size: 12px;
}

#contenedores{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contenedorizquierdo{
    margin-right: 40px;
}

.contenedorbotones{
    display: flex;
    justify-content: center;
}

.botones{
    width: 220px;
    height: 60px;
    border-radius: 24px;
    border-color: #0A3871;
    border-style: solid;
}

#boton1{
    background-color: #0A3871;
    color: white;
}

#boton2{
    background-color: #D8DFE8;
    color: #0A3871;
}

#boton3{
    background-color: #D8DFE8;
    color: #0A3871;
}

#textocaja{
    height: 440px;
    width: 668px;
    font-size: 22px;
    margin-top: 20px;
    color: #0A3871;
    resize: none;
    background-color: #F3F5FC;
    border: none;
    outline: none;
}

#textocaja::placeholder{
    color: #0A3871;
}

#fondotextarea{
    height: 600px;
    width: 400;
    margin-top: 20px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 2px 2px 15px rgba(180, 180, 180, 0.4);
}

#textocaja1{
    height: 540px;
    width: 380px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    resize: none;
    color: #0A3871;
    font-size: 18px;
    border: none;
}

#pie{
    display: flex;
    justify-content: center;
    height: 15px;
    margin-top: 20px;
}

#nombre{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #0A3871;
    font-weight: bold;
}

.enlaces{
    width: 10px;
    height: 10px;
    margin-left: 3px;
}


